[mysqld]
max_connections=1000
secure_file_priv=""

# クエリキャッシュ最大サイズ
query_cache_limit=16M

# クエリキャッシュで使用するメモリサイズ
query_cache_size=512M

# クエリキャッシュのタイプ(0:off, 1:ON SELECT SQL_NO_CACHE以外, 2:DEMAND SELECT SQL_CACHEのみ)
query_cache_type=1

innodb_file_per_table=ON

innodb_buffer_pool_size=4G

innodb_log_file_size=1G


